* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.banner {
    height: 100vh;
    background: url(./pic/aircraft-wing.jpg) center top / cover;
}

.bl {
    background: linear-gradient(37deg, #d5eff4, #14a9c1);
}

.wh {
    background: white;
}

.top_container {
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}

.form_container {
    margin: 50px;
}

.cus_form .container2 {
    box-shadow: 20px 20px 25px gray;
    height: 465px;
    margin: auto;
    display: flex;
}

.cus_form .wrap {
    display: flex;
}

.cus_form .item {
    width: 335px;
    margin: 0 0px;
}

.order {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.order .line {
    display: inline-block;
    width: 380px;
    border-top: 1px solid rgb(2, 63, 78);
}

.order .txt {
    font-size: 30px;
    color: rgb(2, 63, 78);
    letter-spacing: 3px;
    vertical-align: middle;
}

.order h4 {
    color: #acc0d8;
    letter-spacing: 4px;
}

.passport .p1 {
    text-align: center;
    margin: 5px;
    padding: 3px;
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
}

.passport .form_font {
    margin: 3px;
    text-align: left;
    letter-spacing: 2px;
    color: white;
}

.passport .form_standard {
    margin: 5px 10px;
    padding: 8px;
}

.info h3 {
    text-align: center;
    margin-top: 10px;
    color: black;
    letter-spacing: 6px;
}

.info .wrap {
    display: flex;
}

.info .container3 {
    height: 50px;
    margin: auto;
    display: flex;
}

.info .item {
    width: 70px;
    margin-right: 65px;
    padding: 5px;
}

.info .font {
    font-size: 15px;
}

.info .b1 {
    border-bottom-color: black;
}

.info .form_font {
    margin: 1px;
    padding: 2px;
    color: black;
}

.info .form_standard {
    margin: 0px 10px;
    padding: 3px;
}

.info .container-right {
    float: right;
    margin: 20px;
}

.cus_card .wrap {
    display: flex;
}

.cus_card .container2 {
    height: 225px;
    margin: auto;
    display: flex;
}

.cus_card .item1 {
    width: 215px;
    margin-right: 65px;
    box-shadow: 5px 5px 5px gray;
}

.cus_card .item2 {
    height: 225px;
    width: 215px;
    margin-top: 15px;
    margin-right: 65px;
    box-shadow: 5px 5px 5px gray;
}

.cus_card .font {
    text-align: center;
    color: white;
    font-size: 20px;
}

.cus_card .container-center {
    margin: auto;
}

.cus_card .container-right {
    position: relative;
    left: 84px;
}

.cus_card .btn-outline-info {
    margin: 15px;
    border-color: white;
    color: white;
}

.cus_card .checkbox-right {
    float: right;
}

.bottom .wrap {
    display: flex;
}

.bottom .container2 {
    height: 105px;
    margin: auto;
    display: flex;
}

.bottom .item-left {
    position: relative;
    right: 605px;
}

.bottom .item-right {
    position: relative;
    left: 485px;
}

.bottom .border {
    border: white;
    color: #DDBA52;
    font-weight: bold;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
}

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}