.background-pic{

    
    position: relative;

    height: 100vh;
    background:url(../img/modified_bg.png)center top;
    background-size:cover;
}
.login-container{
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    
    background-color:rgba(255,255,255,0.5);
    width:45rem;
    height:31rem;
}
.not-member{
    text-align: center;
    color:secondary;
}

.left{
    display: flex;
    flex-direction: column;
    height: 100%;
    background:linear-gradient(rgba(34, 151, 167, 0.5),rgba(255, 255, 255, 0.5));
    width: 40%;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.signup{
    padding: 6px 15px 6px 15px;
    border-radius: 5px;
}
.right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.inp{
    width: 300px;
    text-decoration: none;
    border: none;
    border-bottom: 1px gray solid;
    background-color: transparent;
}
.inp:focus{
   
    border-bottom: 1px orange solid;
    outline: none;
}
.btn{
    text-align: right;
}