.background-pic{

    
    position: relative;

    height: 100vh;
    background:url(../img/modified_bg.png)center top;
    background-size:cover;
}
.login-container{
    display: flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;
    background-color:rgba(255,255,255,0.5);
    width:45rem;
    height:31rem;
    box-shadow: 6px 6px 12px rgb(155, 155, 155);
}
.not-member{
    text-align: center;
    color:secondary;
}

.left{
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background:linear-gradient(rgba(34, 151, 167, 0.5),rgba(255, 255, 255, 0.5));
    width: 40%;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.signup{
    padding: 6px 15px 6px 15px;
    border-radius: 5px;
}
.right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    
    
}
.inp{
    width: 300px;
    text-decoration: none;
    border: none;
    border-bottom: 1px gray solid;
    background-color: transparent;
}
.inp:focus{
   
    border-bottom: 1px orange solid;
    outline: none;
}
.btn-style{
    text-decoration: none;
    text-align: center;
    color:#fff;
    background:linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border-radius: 5px;
    width: 25%;
    /* height: 7%; */
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    /* margin-top: 20%;
    margin-bottom: 0px;  */

    
}

.btn-style:hover{
    text-decoration: none;
    text-align: center;
    color:#fff;
    background:linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
    border-radius: 5px;
    width: 25%;
    /* height: 7%; */
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    /* margin-top: 20%;
    margin-bottom: 0px;  */

    
}
.btn span{
    font-size: 20px;
    color: #FFF;
}
.right h4{
    font-size: 30px;
    color: rgb(24, 113, 139);
    margin-top: 40px;
    margin-bottom: 15%;
    text-align: center;
    border-bottom: 1px rgb(24, 113, 139) solid;
    margin-left: auto;
    margin-right: auto;
}
.input-area{
    margin-left: 15%;
    margin-bottom: 3px;
}
.but{
   text-align: right;
   margin-top: 17%;
   margin-right: 15%;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 100px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
    .btn {
      margin: 0 1em 2em;
    }
  .btn:hover {
    text-decoration: none;
  }
  
  .btn-1 {
      border-radius: 10px;
    background:linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    font-weight: 100;
  }
  .btn-1 svg {
      color: blue;
    height: 43px;
    left: 0;
   
    position: absolute;
    top: 0;
    width: 100%;
  }
  .btn-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
  }
  
  .btn-1:hover {
    /* background: rgba(103, 241, 223, 0); */
    font-weight: 900;
    letter-spacing: 1px;
  }
  .btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  }