@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC',sans-serif;
}

.font-set {
  color:#241571;
  font-size: 12
}
.slogan{
  color:slategray;
  font-size: 32pt;
}
.name{
  color:slategray;
  font-size: 18pt;
}
.nav-item{
  margin-right: 10px;
}

.list-group-item{
  border-color: white;
}
.list-group-horizontal{
  padding-left:0pt;
}
.place-name{
  font-size: 14pt;
}
.btn{
  margin-right:20px;
}
.container-fluid{
  margin: 0 auto;
}
.content-left{
  float: left;
}
.cloud-picture{
  height:100vh;
  float:right;
  opacity:0.6;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:rgb(146, 195, 228);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(146, 195, 228);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.money-card{
  text-align: center;
  background-color: white;
  margin-left:25px;
  margin-right:20px;
  height:120px;
  padding-top:15px;
  padding-bottom:15px;
}
.a-select { 
	margin-top:10px;
    height: 40px; 
    border:1px solid ; 
    width:26rem; 
    line-height: 50px; 
    font-size:18px; 
    border-radius:5px;
    padding-left:20px;
} 